/* Layout
The designs were created to the following widths:
•	Mobile: 375px
•	Desktop: 1440px
Typography
Font
•	Weights: 500, 700, 900 */
/* em or rem on padding and margin */
/* min-height only.. will cause overflow if contents exceed set height  */
/* % width */
/* max-width ch for # of characters 75 max but 45-50 is best */
/* rem for font size relative to font size of root element which is 16px */
/* set font size on html element to 62.5% which equals 10px so when you use rem its easier to know what to put */
/* em for media queries */

root {
  --primary-pale-blue: hsl(225, 100%, 94%);
  --primary-bright-blue: hsl(245, 75%, 52%);
  --neutral-pale-blue: hsl(225, 100%, 98%);
  --neutral-desat-blue: hsl(224, 23%, 55%);
  --neutral-dark-blue: hsl(223, 47%, 23%);
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Red Hat Display", sans-serif;
  background-image: url("../../images/pattern-background-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

img {
  margin-bottom: 0;
}

.card-container {
  width: 27%;
  height: auto;
  border-radius: 8px;
  box-shadow: 10px 5px 19px hsl(224, 23%, 55%);
  background-color: transparent;
}

.card-img {
  position: relative;
  bottom: -0.2em;
  width: 100%;
  border-top-left-radius: 1em 1em;
  border-top-right-radius: 1em 1em;
}

.card-body {
  height: 60%;
  text-align: center;
  line-height: 1.6;
  border-bottom-left-radius: 1em 1em;
  border-bottom-right-radius: 1em 1em;
  background-color: white;
}

.card-title {
  font-weight: 900;
  font-size: 1.3rem;
  margin: 0;
  padding-top: 20px;
}

.plan-container {
  display: flex;
  background-color: hsl(225, 100%, 98%);
  margin: auto;
  width: 85%;
  margin-bottom: 25px;
  padding: 10px;
}

.card-text {
  font-size: 1rem;
  padding: 10px;
  margin: 0;
}

.cost {
  position: relative;
  left: -4.5em;
  top: 1em;
}

.change-btn {
  top: 1em;
  position: relative;
  color: hsl(245, 75%, 52%);
}

.change-btn:hover {
  color: hsl(224, 23%, 55%);
}

.annual-plan {
  font-weight: 700;
  position: relative;
  left: 1em;
  bottom: 1em;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.btn {
  width: 85%;
  margin: auto;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 25px;
  text-decoration: none;
}

.proceed-btn {
  background: hsl(245, 75%, 52%);
  box-shadow: 10px 5px 19px hsl(224, 23%, 55%);
  color: white;
  border-radius: 8px;
  padding: 12px;
}

.cancel-btn {
  color: hsl(227, 4%, 52%);
}

.proceed-btn:hover {
  background-color: hsl(224, 59%, 31%);
}

.attribution {
  display: flex;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {
}
